.navbar {
  background-color: var(--blue);
  padding: 0.5rem 0;
}

.navbar-brand {
  /* background-color: var(--light);
  color: var(--blue);
  text-decoration: none; */
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* background-image: url('/images/terrorvision-logo.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border: 2px solid red; */
  /* flex: 1; */

}
#tv-logo{
  height: 60px;
 
}
/* .navbar-brand {
  background-color: var(--light);
  color: var(--blue);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
} */

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.navbar-container > li{
  flex: 1;

}
.navbar-container li:nth-child(2){
  text-align: center;
  color: white;
}
.navbar-container li:last-child{
  text-align: right;
}

.navbar-item {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar-user {
  margin-top: 0.5rem;
  text-align: right;
  color: var(--light);
}
