/* :root {
  --danger: #911004;
  --blue: #277BFD;
  --darkBlue: #1363db;
  --light: #ABABAB;
  --background: #3d3d3d;
  --primary: #ff7c02;
} */


  #light{
    --danger: #911004;
    --blue: #277BFD;
    --darkBlue: #1363db;
    --light: #ABABAB;
    --background: #ABABAB;
    --primary: #277BFD;
    --text: #ffffff;
  }
  #dark{
    --danger: #911004;
    --blue: #277BFD;
    --darkBlue: #d96900;
    --light: #ABABAB;
    --background: #3d3d3d;
    --primary: #ff7c02;
    --text: #ffffff;
  }
  html{
    font-size: 62.5%;
    font-family: sans-serif;
    background-color: var(--danger);
    /* overflow: hidden; */
  }
  .switch{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .switch label{
    color: var(--text);
    margin-right: 1rem;
    display: none;
  }
  
  #root #dark, #root #light{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    /* height: 100%; */
    background-color: var(--background);
    /* height: 100vh; */
    /* width: 100vw; */
    /* overflow: hidden; */
    /* border: 2px solid orange; */
    overflow: hidden;
    height: 100vh;
  }
 body #dark, body #light{
  background-color: var(--background);
  /* background-color: var(--light); */
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  color: black;
  /* overflow: hidden; */
  /* border: 2px solid green; */
  /* background-color: red; */
  /* overflow: hidden; */
  
}
/* .container{
  border: 2px solid green;
  max-width: 1000px;
  margin: 0 auto;
} */
main.container{
  /* flex: 1; */
  /* max-width: 1000px; */
  /* border: 2px solid black; */
  height: 100%;
  /* overflow-y: auto; */
  overflow: hidden;
  /* border: 2px solid blue; */
}
.polls-view-container{
  height: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
a{
  text-decoration: none;
  color: white;
}
ul{
  list-style: none;
}