.create-poll-form {
  margin: 1rem;
  background-color: var(--backgroundCard);
  padding: 2rem;
  border-radius: 5px;
  align-self: center;
}
.form-label {
  color: var(--text);
  text-transform: uppercase;
  font-size: 1.6rem;
}
.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  border: 2px solid var(--primary);
  
}

.create-poll-btns-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.create-poll-btns-container .button{
  background-color:transparent;
  border: 2px solid var(--primary);
  border-radius: 5px;
  color: var(--text);
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease-out;
  text-transform: uppercase;
  font-weight: bolder;
  width: 150px;
  background-color: var(--background);
}