







/* .create-poll-btns-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.create-poll-btns-container .button{
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  
} */
a{
  text-decoration: none;
  color: white;
}

.right{
  text-align: right;
}
/* .button {
  background-color: var(--light);
  border: 2px solid var(--blue);
  border-radius: 0.5rem;
  color: var(--blue);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease-out;
  text-transform: uppercase;
  font-weight: bolder;
} */


