nav{
  background-color: var(--blue);
}
.navbar-brand{
  font-size: 2rem;
  text-decoration: none;
}
ul.navbar-container{
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}
.right{
  text-align: right;
}
