.polls-grid-container{
  /* border: 2px solid red; */
  overflow-y:auto;
  /* display: flex;
  flex-direction: column;
  flex: 1; */
  /* height: 100%; */
  flex:   1;

}
.polls-grid{
  /* place-content: center; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-rows: auto; */
  gap: 1rem;
  padding: 1rem;
  /* flex: 1; */
}
.poll-card{
  background-color: var(--backgroundCard);
  border-radius: 5px;
  padding: 1rem 2rem;
  display: grid;
  place-content: center;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  color: var(--text);
  box-shadow: 3px 3px 5px rgb(0,0,0,0.4);
  transition: transform 200ms linear;
}
.poll-card:hover{
  cursor: pointer;
  transform: scale(1.03);
  /* background-color: var(--darkBlue); */
}
.poll-card-new{
  background-color: var(--backgroundCard);
  border-radius: 5px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: var(--text);
  /* color: var(--primary); */
  box-shadow: 3px 3px 5px rgb(0,0,0,0.4);
}
.poll-card-new.has-voted{
  background-color: green;
  
}
.poll-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text);

}
.poll-card-header h4{
  text-align: left;
  font-style: italic;
  flex: 1;
  font-size: 1.4rem;
  color: var(--primary);
}
.poll-card-header h5{
  font-weight: bolder;
  font-size: 1.4rem;
}

#vote-icon{
  height:1.6rem;
  width: 1.6rem;
  margin-right: 0.5rem;
}
.vote-icon{
  height:1.6rem;
  width: 1.6rem;
  /* margin-right: 0.5rem; */
}
#has-voted-icon{
  height:1.6rem;
  width: 1.6rem;
  margin-right: 0.5rem;
}
.has-voted-icon{
  height:1.6rem;
  width: 1.6rem;
  margin-right: 0.5rem;
  color: var(--voted);
}
.poll-card-question{
  padding: 0 1rem;
  flex: 1;
}
.poll-card-current-winner{
  border-top: 1px solid var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}
.poll-card-current-winner p{
  font-style: italic;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--primary);
}
.poll-card-current-winner .trophy-icon{
  color: var(--trophy);
  margin-right: 0.5rem;
}
.poll-card-current-winner p:nth-child(2){
  flex: 1;
  text-align: left;
}