.poll-page-container{
  flex: 1 ;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
  overflow-y: scroll;
}
.poll-container{
  /* border: 1px solid green; */
  /* background-color: yellow; */
 place-content: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  
}
.vote-container{
  background-color: var(--backgroundCard);
  /* margin: 1rem; */
  border-radius: 5px;
  padding: 2rem 1rem;
}
.results-container{
  background-color: var(--backgroundCard);
  /* margin: 1rem; */
  border-radius: 5px;
  border: 2px solid var(--primary);
  padding: 2rem 1rem;
}
.results-container h4{
  text-align: left;
  font-style: italic;
  flex: 1;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  color: var(--background);
  color: var(--text);
  color: var(--primary);
}
.poll-title {
  font-size: 1.6rem;
  padding: 0 1rem 2rem 1rem;
  text-align: left;
  text-transform: capitalize;
  color: white;
  color: var(--text);
  font-weight: 100;
} 
.poll-answers {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0 1rem;
}

.poll-choice{
  padding: 0.5rem 1rem;
  transition: all 0.4s ease-out;
  text-transform: uppercase;
  font-weight: bolder;
  /* background-color: white; */
  border:none;
  border-radius: 2px;
  font-size: 1.6rem;
  color: var(--light);
}
.poll-choice:hover{
  color: var(--primary);
}
.poll-card-results-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* margin: 0 1.5rem; */
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--text);
}
.poll-card-header h4{
  text-align: left;
  font-style: italic;
  flex: 1;
  font-size: 1.4rem;
  /* padding: 0 1rem 0.5rem; */
  color: var(--primary);
  /* color: var(--text); */
}
.poll-card-header{
  padding: 0 0 0.5rem;
}
.poll-card-question-header{
  padding: 0 1rem 0.5rem;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* margin: 0 1.5rem; */
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid var(--text); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
  /* border-bottom: 1px solid var(--text); */
}
.poll-card-question-header h4{
flex: 1;
}
.poll-card-header h5, .poll-card-question-header h5{
  font-weight: bolder;
  font-size: 1.8rem;
  color: var(--text);
  color: var(--primary);
}
.poll-card-results-header h5{
  font-weight: bolder;
  font-size: 1.8rem;
  color: var(--primary);
}

#results-vote-icon{
  height:1.6rem;
  width: 1.6rem;
  margin-right: 0.5rem;
}
.poll-results {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* row-gap: 0.5rem; */
  /* padding: 0 1rem; */
  margin-top: 1rem;
}
.poll-choice-result{
  padding: 0.5rem 0;
  transition: all 0.4s ease-out;
  text-transform: uppercase;
  /* font-weight: bolder; */
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  /* border:none; */
  /* border-radius: 2px; */
  font-size: 1.6rem;
  color: var(--text);
}
/* .poll-choice:hover{
  color: var(--primary);
} */
.chart-container{
  background-color: white;
  /* margin: 1rem; */
  border-radius: 5px;
  padding: 2rem 1rem;
  border: 4px solid var(--primary);
  position: relative;
}