.polls-grid{
  place-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
  /* flex: 1; */
}
.poll-card{
  background-color: var(--blue);
  border-radius: 5px;
  padding: 1rem 2rem;
  display: grid;
  place-content: center;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  box-shadow: 3px 3px 5px rgb(0,0,0,0.4);
}
.poll-card-new{
  background-color: var(--blue);
  border-radius: 5px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  box-shadow: 3px 3px 5px rgb(0,0,0,0.4);
}
.poll-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.poll-card-header h4{
  text-align: left;
  font-style: italic;
  flex: 1;
  font-size: 1.4rem;
}
.poll-card-header h5{
  font-weight: bolder;
  font-size: 1.4rem;
}

#vote-icon{
  height:1.6rem;
  width: 1.6rem;
  margin-right: 0.5rem;
}
.poll-card-question{
  padding: 0 1rem;;
}